<div *ngIf="columns.length"><ejs-treegrid
        [dataSource]="dataManager" hasChildMapping="isParent"
        [treeColumnIndex]="1" parentIdMapping="ParentItem" idMapping="TaskID"
        [contextMenuItems]='contextMenuItems'
        (contextMenuOpen)="contextMenuOpen($event)" (contextMenuClick)="contextMenuClick($event)"
        [editSettings]='editing'
        allowReordering="true"
        allowResizing="true"
        [showColumnChooser]='true'
        (actionComplete)="actionComplete($event)"
        allowSorting="true"
        [selectionSettings]="selectionSettings"
        allowRowDragAndDrop="true"
        [columns]="columns"
        height='100%' width='100%'>
</ejs-treegrid>
</div>
<div id="modalDialog">
</div>
